.container {
  display: flex;
  flex-direction: column;
  background-color: $Dark-Blue;
  width: 41.5rem;
  height: 41.5rem;
  border-radius: 3rem;
  justify-content: center;
}

.hide {
  display: none;
}
