.title {
  font-size: 3rem;
  color: $White;
  font-weight: $bold;
  margin: 1rem 2rem;
}

.text {
  color: $Ligh-Grey;
  font-size: 1.5rem;
  font-weight: $regular;
  margin: $margin;
  line-height: 2.2rem;
}

.number {
  font-size: 1.6rem;
  font-weight: $regular;
  color: $Ligh-Grey;
}
