$font: "Overpass", sans-serif;

/* Colors */

/* Primary */
$orange: hsl(25, 97%, 53%);

/* Neutral */
$White: hsl(0, 0%, 100%);
$Ligh-Grey: hsl(217, 12%, 63%);
$Medium-Grey: hsl(216, 31%, 35%);
$Dark-Blue: hsl(213, 19%, 18%);
$Very-Dark-Blue: hsl(216, 12%, 8%);

/* Font weigth */
$regular: 400;
$bold: 700;

/* margin */
$margin: 2rem 2rem;
